# Ignorar checkpoints y notebooks temporales
**/.ipynb_checkpoints/
*.ipynb_checkpoints/

# Ignorar archivos comprimidos
*.zip
*.zip.part

# Ignorar entornos virtuales y archivos de configuración
*.env

# Ignorar datasets grandes o temporales
lab4/MALWR_lab4/
lab5/large_eve.json
lab5/large_even.json
lab5/top-1m.csv
proyecto/feature_engineering_work
lab8/malimg_dataset
lab8/malimg_dataset.zip
lab8/malimg_dataset.E1N-_ZLC.zip.part


lab2/none.js
env
*.py

lab9/malimg_dataset.zip
lab9/malimg_dataset
lab9/malimg_dataset.E1N-_ZLC.zip.part

