lab2/none.js
lab1/*.env
lab2/*.env
env
act3.zip

lab3/*.env
lab4/*.env


lab4/.ipynb_checkpoints/*
lab4/*.zip
lab4/MALWR_lab4/

anomaly_detection/*.env

lab5/large_eve.json
lab5/top-1m.csv
lab5/*.env
lab5/large_even.json
lab2/D1/.ipynb_checkpoints/
lab2/D2/.ipynb_checkpoints/
lab2/D3/.ipynb_checkpoints/
lab5/.ipynb_checkpoints/

proyecto/.ipynb_checkpoints/
proyecto/feature_engineering_work
